*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk" , sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(221, 100%, 96%);
}
.container{
    flex-wrap: wrap;
    box-shadow: rgba(0,0,0,.24) 0 3px 8px;
    border-radius: 2.5rem;
    width: 650px;
    background-color: white;
}

.card{
    display: flex;
    justify-content: space-between;
}
.results{
    gap: 1.5rem;
    width: 50%;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    background: linear-gradient(to bottom,hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: hsl(241, 100%, 89%);
}
.results h1{
    color: hsl(0, 0%, 100%);
    font-size: 50px;
}

.info{
    width: 250px;
    text-align: center;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info p{
    font-size: 18px;
}

.info h1{
    margin-top: 1rem;
    font-size: 25px;
}
.circle{
    margin-top:20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 150px;
    border-radius: 50%;
    height: 150px;
}
.summary{
    padding: 1.5rem 2rem;
    width: 50%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.summary h3{
    color: hsl(224, 30%, 27%);
    font-weight: 800;
}

.rows{
    display: flex;
    gap: 1rem;
    flex-direction: column;    
}

.row{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .9rem 1rem;
}
.row p{
    color: hsl(224, 30%, 27%);
    gap: 0.5rem;
}

.row:nth-child(1){
    background-color: hsl(0, 100%, 67%, .2);
    color: hsl(0, 100%, 67%);
}
.row:nth-child(2){
    background-color:  hsl(39, 100%, 56%,.2);
    color:  hsl(39, 100%, 56%);
}
.row:nth-child(3){
    background-color: hsl(166, 100%, 37%,.2);
    color: hsl(166, 100%, 37%);
}

.row:nth-child(4){
    background-color:hsl(234, 85%, 45%,.2);
    color: hsl(234, 85%, 45%);
}

.badge{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.continue{
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color:hsl(224, 30%, 27%);
}

.continue:hover{
    background: linear-gradient(to bottom , hsl(252, 100%, 67%),hsl(241, 81%, 54%)) ;
    cursor: pointer;
}



